*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
.navbar{
height:60px;
background-color: #0f1111;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.nav_logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url("logo.jpg");
    height:50px;
    width:90px;
    background-size: cover;
}
.border{
    border:1.5px solid transparent
}
.border:hover{
    border:1.5px solid white
}
.nav_address{
    font-size: 11px;
}
/* box2 */
.add-first{
    color:#cccccc;
    font-size: 0.50rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add_icon{
    display:flex;
align-items: center;
}
/* box3 */
.nav_search{
    display: flex;
    justify-self: space-evenly;
    width:600px;
    height: 40px;
    border-radius: 4px;
    background-color: pink;
}
.nav_search:hover{
    border: 2px solid #febd68;
}

.select-search{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
}
.search-input{
    width: 510px;
    font-size: 1rem;
    border:none;
}
.select-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rm;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/* box4 */
.nav-country{
    height:40px;
    width:35px;
    display: flex;
    justify-content: space-evenly;
}
.select-country{
    background-image: url("image.png");
    background-size: cover;
    height:20px;
    width:25px;
    
}
.nav-text{
    display: flex;
    font-size: 15px;
}
.nav-icon{
     width: 3px;
     height: 7px;
    font-size: 1.5rm;
    background-color: none;
    border:none;
    color: white;
}
/* box5 */
.span{
    font-size: 0.7rem;
}
/* box6 */
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box7 */
.nav-cart i{
    font-size:30px ;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 60px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
/* panel1 */
.panel.all{
    color:white;
    height: 60px;
    width: 100px;
}
/* panel2 */
.panel-option p {
    display: inline;
    margin-left: 10px;
}
.panel-option{
    width: 70%;
    font-size: 0.85rem;
}
/* panel3 */
.panel-shop{
    font-size: 1rem;
    font-weight: 700;
}
/* hero section */
.hero-section{
    background-image: url("hero-section.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
background-color: white;
color:black;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
font-size: 0.85rem;
 width: 90%;
 margin:25px;
}
.hero-section a{
    color: #007185;
}
/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e8bcf0;

}
.box{
    border: 2px solid black; 
    height: 400px;
    width: 20%;
    background-color:white;
    margin: 1rem;
    
}
/*  photo */
.music{
    background-image: url("music.jpg");
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content{
    padding: 20px 0px 15px 0px;
    margin-left:1rem;
    margin-right: 1rem;
}
.content p{
    color: #007185;
}
.home{
    background-image: url("home6.jpg");
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content-1{
    padding: 20px 0px 15px 0px;
    margin-left:1rem;
    margin-right: 1rem;
}
.content-1 p{
    color: #007185;
}
.cloth{
    background-image: url("cloth5.jpg");
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content-2{
    padding: 20px 0px 15px 0px;
    margin-left:1rem;
    margin-right: 1rem;
}
.content-2 p{
    color: #007185;
}
.kitchen{
    background-image: url("kit4.png");
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content-3{
    padding: 20px 0px 15px 0px;
    margin-left:1rem;
    margin-right: 1rem;
}
.content-3 p{
    color: #007185;
}
.kitchen1{
    background-image: url("kitchen1.png");
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content-4{
    padding: 20px 0px 15px 0px;
    margin-left:1rem;
    margin-right: 1rem;
}
.content-4 p{
     color: #007185;
}
.toys{
    background-image: url("toys.png");
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.content-4{
    padding: 20px 0px 15px 0px;
    margin-left:1rem;
    margin-right: 1rem;
    color: black;
}
.content-4 p{
    color: #007185;
}
.deals{
    background-image: url("deals.png");
    height:300px;
    background-size: cover;
    margin-top: 0.85rem;
    margin-bottom: 0.85rem;
}
.content-5{
    padding: 20px 0px 15px 0px;
    margin-left:1rem;
    margin-right: 1rem;
}
.content-5 p{
    color: #007185;
}
.phone{
    background-image: url("phone.png");
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content-6{
    padding: 20px 0px 15px 0px;
    margin-left:1rem;
    margin-right: 1rem;
}
.content-6 p{
    color: #007185;
}
.elec1{
    background-image: url("earbuds.png");
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;   
}
.content-7{
    padding: 20px 0px 15px 0px;
    margin-left:1rem;
    margin-right: 1rem;
}
.content-7 p{
    color: #007185;
}
/* foot panel1 */
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 15px;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;  
    justify-content: space-evenly;  
}
ul a{
    display: block;
    font-size: 0.50rem;
    margin-top: 10px;
    color:#dddddd;
}
ul{
    margin-top:20px;
}

/*  foot panel3 */
.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.english{
    height:50px;
    width:150px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid white;
    color: #cccccc;
    margin-left: 10px;
    align-items: center;
}
.us{
    height:50px;
    width:150px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid white;
    color: #cccccc;
    margin-left: 10px;
    align-items: center;
}
.america{
    height:50px;
    width:150px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid white;
    color: #cccccc;
    margin-left: 10px;
    align-items: center;
}
.logo{
     background-image: url("logo.jpg");
    height:50px;
    width:90px;
    background-size: cover;
    align-items: center;
}
/* foot-panel4 */
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.condition{
    font-size: 0.7rem;
    text-align: center;
    padding: 15px;
}
.copy-write{
    font-size: 0.7rem;
    text-align: center;
}
/* foot-panel5 */
.foot-panel5{
    height: 400px;
    background-color: #0f1111;
    color: white;
    padding: 30px 30px 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:20px 20px 20px 20px;
}